<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <button class="btn_add_contact" onclick="window.location.href='{{ url_for('add_contact') }}'">Создать контакт</button>
    <form method="GET" action="/search">
        <input class="search_contact" type="text" name="query" placeholder="Поиск..." required>
        <button class="search_contact_btn" type="submit">Поиск</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="contacts_container">
        <h1>Список контактов:</h1>

        {% for contact in contacts %}
        <div class="contact">
            <h2>{{ contact.name }}</h2>
            <p>Номер телефона: <strong>{{ contact.phone }}</strong></p>
            <p>Email: <strong>{{ contact.email }}</strong></p>
             
            <div class="actions">
                <button class="edit_btn" onclick="window.location.href='{{ url_for('edit_contact', contact_id = contact.id) }}'">Редактировать</button>
                <button class="delete_btn" onclick="openModal({{ contact.id }})">Удалить</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="confirm_delete" id="confirm">
        <div class="content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Вы правда хотите удалить контакт?</h2>
            <button id="confirmDeleteBtn">Удалить</button>
            <button onclick="closeModal()">Отмена!</button>
        </div>
    </div>

</body>
</html>